*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
clip-path: inset(50%);
  width: 1px;
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: 456px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  background-color: #fff;
 
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  block-size: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  width: 100%;
  
}

.content__list {
  position: relative;
  display: flex;
  height: 298px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 394px;
  height: 103px;
  padding: 2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #FFF;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background-color:#545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: 0;
  outline-offset: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  line-height: 16.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  height: 34px;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #FFF;
}

.button:focus {
  outline: 0;
  outline-offset: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
  cursor: pointer;
}

.more-button {
  width: 399px;
  cursor: pointer;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  appearance: none;
  border: none;
  min-width: 225px;
  background-color: transparent;
  height: 27px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: 0;
  outline-offset: 0;
}

.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
  padding: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__textfield:focus) {
  outline: 0;
  outline-offset: 0;
}

.search-form__label:has(.search-form__textfield:focus-visible, .search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  border: solid 1px #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #FFF;
  opacity: 0;
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}